.card {
  position: relative;
  width: 260px;
}

.card:hover {
  opacity: 0.6;
}

.mark {
  position: absolute;
  top: -5px;
  left: -3px;

  padding: 5px 15px 5px 9px;
  border-radius: 3px;

  color: white;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.1667;

  background-color: var(--accent-color);
  transform: skew(-10deg);
}

.mark span {
  display: block;
  transform: skew(10deg);
}

.imageWrapper {
  margin-bottom: 9px;
}

.image {
  display: block;
  border-radius: 4px;
}

.info {
  flex-grow: 1;
}

.priceWrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin-bottom: 5px;
}

.price {
  margin-right: 20px;
}

.priceValue {
  font-size: 2rem;
  font-weight: 700;
  line-height: 1.2;
}

.priceText {
  font-size: 1.2rem;
  line-height: 1.1667;
}

.bookmarkButton {
  flex-shrink: 0;
  width: 18px;
  height: 19px;
  margin-top: 2px;
}

.bookmarkButton:focus .bookmarkIcon,
.bookmarkButton:hover .bookmarkIcon {
  stroke: var(--accent-color);
}

.bookmarkButton.active .bookmarkIcon {
  stroke: var(--accent-color);
  fill: var(--accent-color);
}

.rating {
  margin-bottom: 6px;
}

.stars {
  width: 73px;;
  height: 12px;
}

.stars::before {
  width: 73px;
  background-size: 73px 12px;
}

.stars span {
  width: 0%;
}

.stars span::before {
  width: 73px;
  background-size: 73px 12px;
}

.stars {
  position: relative;
  display: block;
  font-size: 0;
}

.stars::before {
  content: "";
  display: inline-block;
  height: 100%;
  background-color: transparent;
  background-image: url(../../../../shared/assets/images/icons/stars.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.stars span {
  position: absolute;
  top: 0;
  left: 0;

  display: inline-block;
  height: 100%;

  overflow: hidden;
}

.stars span::before {
  content: "";
  display: inline-block;
  height: 100%;

  background-color: transparent;
  background-image: url(../../../../shared/assets/images/icons/stars-active.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.title {
  margin: 0 0 4px 0;
  font-size: 1.8rem;
  font-weight: 700;
  font-style: oblique;
  line-height: 1.223;
}

.title a {
  display: inline-block
}

.title a:focus,
.title a:hover {
  opacity: 0.7
}

.type {
  margin: 0;
  font-size: 1.2rem;
  line-height: 1.1667;
}
