.rating {
  display: flex;
  align-items: flex-start;
}

.stars {
  position: relative;
  display: block;
  font-size: 0;
}

.big .stars {
  width: 147px;
  height: 24px;
}

.medium .stars {
  width: 98px;
  height: 16px;
}

.small .stars {
  width: 73px;
  height: 12px;
}

.stars::before {
  content: "";
  display: inline-block;
  height: 100%;
  background-color: transparent;
  background-image: url(../../assets/images/icons/stars.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.big .stars::before {
  width: 147px;
  background-size: 147px 24px
}

.medium .stars::before {
  width: 98px;
  background-size: 98px 16px
}

.small .stars::before {
  width: 73px;
  background-size: 73px 12px;
}

.stars span {
  position: absolute;
  top: 0;
  left: 0;

  display: inline-block;
  width: 0%;
  height: 100%;

  overflow: hidden;
}

.stars span::before {
  content: "";
  display: inline-block;
  height: 100%;

  background-color: transparent;
  background-image: url(../../assets/images/icons/stars-active.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.big .stars span::before {
  width: 147px;
  background-size: 147px 24px
}

.medium .stars span::before {
  width: 98px;
  background-size: 98px 16px
}

.small .stars span::before {
  width: 73px;
  background-size: 73px 12px;
}

.text {
  margin-left: 5px;
  padding-top: 2px;

  font-weight: 700;
  font-style: oblique;
  line-height: 1;
}

.big .text {
  font-size: 2.4rem;
}

.medium .text {
  font-size: 1.6rem;
}

.small .text {
  font-size: 1.2rem;
}