.sorting {
  position: relative;
}

.caption {
  margin-right: 4px;

  font-size: 1.2rem;
  font-weight: 700;
  line-height: 1.167;
}

.type {
  position: relative;

  display: inline-block;
  padding-right: 12px;

  font-size: 12px;
  line-height: 1.167;

  cursor: pointer;
}

.type:focus {
  outline: auto;
}

.arrow {
  position: absolute;
  top: 55%;
  right: 0;

  fill: var(--main-color);

  transform: translateY(-50%);
}

.options {
  margin: 0;
  padding: 0;
  list-style: none;

  background-color: white;
  border: 1px solid var(--grey-4);
  border-radius: 4px;
}

.options.custom {
  position: absolute;
  top: calc(100% + 1px);
  left: 52px;

  display: none;


  z-index: 1;
}

.options.opened {
  display: block
}

.option {
  display: block;
  min-width: 170px;
  padding: 14px 16px 10px;
  text-align: left;
  font-size: 14px;
  line-height: 1.2143;
  transition: background-color 0.3s;
  outline: 0;
}

.option.active,
.option.active:hover {
  background-color: var(--grey-2);
}


.option:focus,
.option:hover {
  background-color: var(--grey-1);
}
