.header {
  min-height: 70px;
}

.wrapper {
  display: flex;
  align-items: flex-start;
  padding: 19px 16px 0;
}

.left {
  display: flex;
  flex-wrap: wrap;
  flex-shrink: 0;
  margin-right: auto;
}

.nav {
  display: flex;
  flex-shrink: 0;
  flex-wrap: wrap;
  margin-top: 11px;
  margin-left: 30px
}

.navList {
  margin: 0;
  padding: 0;
  list-style: none;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start
}

.navItem {
  display: flex;
  min-height: 25px;
  margin-bottom: 15px
}

.navItem:not(:last-child) {
  margin-right: 15px
}

.navLink {
  display: flex;
  align-items: center;

  font-size: 1.4rem;
  line-height: 1;

  transition: text-shadow 0.3s;
}

.navLinkUser {
  gap: 7px;
}

.navLink:focus,
.navLink:hover {
  text-shadow: 0.5px 0 0, -0.5px 0 0;
}

.favoriteCount {
  display: inline-block;
  min-width: 40px;
  height: 25px;
  margin: 0 10px;
  padding: 5px;
  border-radius: 15px;

  font-size: 1.6rem;
  font-weight: 600;
  line-height: 1;
  text-align: center;

  color: white;
  background-color: var(--accent-color);

  user-select: none;
}