.page {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.main {
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  overflow-y: hidden;
}

.locationsList {
  list-style: none;
  margin: 0;
  padding: 0;

  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  gap: 36px;

  padding: 16px 3px 33px;
  margin-bottom: 19px;
}

