.button {
  flex-shrink: 0;
  width: 18px;
  height: 19px;
}

.button:focus .icon,
.button:hover .icon {
  stroke: var(--accent-color);
}

.button.active .icon {
  stroke: var(--accent-color);
  fill: var(--accent-color);
}
