.page {
  display: flex;
  flex-direction: column;
  width: 1144px;
  height: 100vh;

  margin-inline: auto;

  background-image: linear-gradient(to right, var(--background-color) 509px, transparent 509px), url(../../shared/assets/images/photos/amsterdam.jpg);
  background-position: top left, right top;
  background-size: auto, auto 100%;
  background-repeat: no-repeat, no-repeat;

  overflow: hidden;
}

.main {
  display: flex;
  flex-grow: 1
}

.container {
  display: flex;
}

.login {
  position: relative;
  width: 520px;
  padding: 19.6vh 60px 0 13px;
}

.login::after {
  content: "";

  position: absolute;
  bottom: 0;
  right: -2px;

  width: 12.03vh;
  min-width: 195px;
  height: 100vh;
  min-height: 450px;
  border-right: 6px solid var(--accent-color);

  background-color: var(--background-color);

  transform: skew(-6.5deg);
}

.title {
  position: relative;

  margin: 0 0 28px;

  font-size: 3.2rem;
  font-weight: 700;
  font-style: oblique;
  line-height: 1.1875;

  z-index: 1;
}

.locations {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
  padding: 0 51px 63px 130px;
}

.locationsItem {
  display: block;
  margin: 0;
}

.locationsLink {
  min-width: 137px;
  padding: 9px 21px 6px 16px !important;
  text-align: center;
  letter-spacing: 0.9px;
  backface-visibility: hidden;
}

