@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;

  /* Project colors */
  --blue-20: #4481c3;
  --blue-30: #3d6da1;
  --gray-40: #ebebeb;
  --gray-90: #222222;
  --white: #ffffff;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-blue-20: var(--blue-20);
  --color-blue-30: var(--blue-30);
  --color-gray-40: var(--gray-40);
  --color-gray-90: var(--gray-90);
  --color-white: var(--white);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: var(--font-rubik);
}
