.page {
  background-color: #fff
}

.page--favorites-empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh
}

.page--main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  height: 100vh
}

.page--gray {
  background-color: #f5f5f5
}

.page__main--favorites-empty {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.page__main--favorites-empty .page__favorites-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex
}


.header__login {
  padding-top: 2px;
  padding-right: 8px
}

.header__signout,
.header__user-name {
  padding-top: 2px
}

.header__favorite-count {
  display: inline-block;
  min-width: 40px;
  height: 25px;
  margin: 0 10px;
  padding: 5px;
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  text-align: center;
  color: #fff;
  background: #4481c3;
  border-radius: 15px
}

.cities__places-container--empty {
  padding-right: 0
}

.cities__no-places {
  position: relative;
  width: 498px;
  padding-left: 18px
}

.cities__no-places::after {
  content: "";
  position: absolute;
  width: 12.06vh;
  min-width: 100px;
  max-width: 120px;
  height: 100%;
  bottom: 0;
  right: -48px;
  background-color: #fff;
  border-right: 6px solid #4481c3;
  -webkit-transform: skew(-6.5deg);
  transform: skew(-6.5deg)
}

.cities__places {
  width: 572px;
  margin-top: 2px;
  margin-right: 2px;
  padding-top: 29px;
  padding-bottom: 7px;
  padding-left: 9px;
  overflow-y: auto
}

.cities__places-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin-left: -8px;
  padding-left: 5px
}

.page__main--index-empty .cities__right-section {
  background-image: url(../img/no-places@2x.png);
  background-size: auto 119%;
  background-repeat: no-repeat;
  background-position: right 100%
}

.cities__right-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
  -ms-flex-positive: 1;
  flex-grow: 1
}

.cities__map {
  width: 100%;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  background-image: url(../img/map.jpg);
  background-size: 682px auto;
  background-repeat: no-repeat;
  background-position: -170px center
}

.cities__status-wrapper {
  position: relative;
  z-index: 1;
  width: auto;
  margin-top: 25.4vh;
  margin-right: auto;
  margin-left: auto;
  padding-top: 62px;
  text-align: center;
  background-image: url(../img/ico-no-results.svg);
  background-size: 45px 47px;
  background-position: center top;
  background-repeat: no-repeat
}

.cities__status {
  display: block;
  margin-bottom: 5px;
  font-size: 32px;
  line-height: 1.1875
}

.cities__status-description {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 45px;
  font-size: 16px;
  line-height: 1.5
}


.favorites--empty {
  width: 100%;
  padding: 0 0 93px 38px
}


.favorites__status-wrapper {
  width: 420px;
  margin-top: 16.7vh;
  margin-right: auto;
  margin-left: auto;
  padding-top: 94px;
  text-align: center;
  background-image: url(../img/ico-saved.svg);
  background-size: 60px 73px;
  background-position: center top;
  background-repeat: no-repeat
}

.favorites__status {
  display: block;
  margin-bottom: 5px;
  font-size: 32px;
  line-height: 1.1875
}

.favorites__status-description {
  margin-top: 0;
  margin-bottom: 0;
  padding: 0 30px;
  font-size: 16px;
  line-height: 1.5
}

/*# sourceMappingURL=main.css.map */